@page
@model CTTSite.Pages.Store.SpecificUserOrdersPageModel
@{
}

<body class="text-center" style="background-color:#f6d8cc;">
    <h1 class="text-center"><b>@Model.User.Identity.Name's Orders</b></h1>
    <br />

    <table class="table table-bordered table-hover table-dark" width="80%">
        <thead>
            <tr class="btn-secondary active">
                <th>ID</th>
                <th>Total Price</th>
                <th>Shipped</th>
                <th>Cancelled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.Orders != null)
            {
                foreach (Models.Order order in Model.Orders)
                {
                    <tr class="btn-secondary">
                        <td>
                            @order.ID
                        </td>
                        <td>
                            @order.TotalPrice
                        </td>
                        <td>
                            @order.Shipped
                        </td>
                        <td>
                            @order.Cancelled
                        </td>
                        <td>
                            <a class="btn btn-danger" type="button" asp-page="" asp-route-id="">Cancel order</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</body>