@page
@model CTTSite.Pages.Store.SpecificUserCartPageModel
@{
}


<br />
<h1 class="text-center"><b>@Model.User.Identity.Name's Cart</b></h1>
<br />
<div class="test">
    <table class="table table-bordered table-hover" width="60%">
        <thead>
            <tr class="btn-secondary active">
                <th>ID</th>
                <th>ItemID</th>
                <th>Amount</th>
                <th>UserID</th>
                <th>Paid</th>
                <th>Total Price</th>
                <th>Actons</th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.CartItems != null)
            {
                foreach (Models.CartItem cartItem in Model.CartItems)
                {
                    <tr class="btn-secondary">
                        <td>
                            @cartItem.ID
                        </td>
                        <td>
                            @cartItem.ItemID
                        </td>

                        <td>
                            @cartItem.Amount
                        </td>
                        <td>
                            @cartItem.UserID
                        </td>
                        <td>
                            @cartItem.Paid
                        </td>
                        <td>
                            @*@(cartItem.Amount * cartItem.Item.Price)*@                        
                        </td>
                        <td>
                            <a class="btn" type="button" asp-page="DeleteCartItemPage" asp-route-id="@cartItem.ID"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<a class="btn" type="button" asp-page="ShippingPage" asp-route-id="?">Payment</a>
