@page
@model CTTSite.Pages.Forms.UpdateSleepDiaryPageModel
@{
}


<div class="col-md-12 text-center" style="margin-bottom:4%">
    <h1 class="text-center">Sleep Diary</h1>
    <h3 class="text-danger text-center"> @Model.message</h3>
    <form method="post">
        <input type="submit" asp-page-handler="SaveForm" value="Save Form" class="btn btn-dark text-center" />
        
        <div class="container-fluid">
            <div class="row">
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.UserEmail" class="control-lable"></label>
            <input asp-for="@Model.formSleepDiary.UserEmail" class="form-control" value="@HttpContext.User.Identity.Name" readonly />
        </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
        <h3>Day 1</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1" class="control-lable">Day 1 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day1" class="form-control" value="@Model.formSleepDiary.Day1" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TimeInBed" clhttps://localhost:7130/ass="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TimeInBed" class="form-control" value="@Model.formSleepDiary.Day1_TimeInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day1_HowLongToSleep" class="form-control" value="@Model.formSleepDiary.Day1_HowLongToSleep" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day1_AmountOfTimesWokenUp" class="form-control" value="@Model.formSleepDiary.Day1_AmountOfTimesWokenUp" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TotalTimeAwakeInNight" class="form-control" value="@Model.formSleepDiary.Day1_TotalTimeAwakeInNight" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TimeWokenUpInMorning" class="form-control" value="@Model.formSleepDiary.Day1_TimeWokenUpInMorning" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TimeGottenOutOfBed" class="form-control" value="@Model.formSleepDiary.Day1_TimeGottenOutOfBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TotalTimeSpentInBed" class="form-control" value="@Model.formSleepDiary.Day1_TotalTimeSpentInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TotalTimeSleeping" class="form-control" value="@Model.formSleepDiary.Day1_TotalTimeSleeping" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day1_HowRestedDoYouFeel" class="form-control" value="@Model.formSleepDiary.Day1_HowRestedDoYouFeel" />
        </div>
        </div>

                <div class="col-md-6">
        <h3>Day 2</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2" class="control-lable">Day 2 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day2" class="form-control" value="@Model.formSleepDiary.Day2" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TimeInBed" class="form-control" value="@Model.formSleepDiary.Day2_TimeInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day2_HowLongToSleep" class="form-control" value="@Model.formSleepDiary.Day2_HowLongToSleep" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day2_AmountOfTimesWokenUp" class="form-control" value="@Model.formSleepDiary.Day2_AmountOfTimesWokenUp" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TotalTimeAwakeInNight" class="form-control" value="@Model.formSleepDiary.Day2_TotalTimeAwakeInNight" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TimeWokenUpInMorning" class="form-control" value="@Model.formSleepDiary.Day2_TimeWokenUpInMorning" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TimeGottenOutOfBed" class="form-control" value="@Model.formSleepDiary.Day2_TimeGottenOutOfBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TotalTimeSpentInBed" class="form-control" value="@Model.formSleepDiary.Day2_TotalTimeSpentInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TotalTimeSleeping" class="form-control" value="@Model.formSleepDiary.Day2_TotalTimeSleeping" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day2_HowRestedDoYouFeel" class="form-control" value="@Model.formSleepDiary.Day2_HowRestedDoYouFeel" />
        </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
        <h3>Day 3</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3" class="control-lable">Day 3 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day3" class="form-control" value="@Model.formSleepDiary.Day3" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TimeInBed" class="form-control" value="@Model.formSleepDiary.Day3_TimeInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day3_HowLongToSleep" class="form-control" value="@Model.formSleepDiary.Day3_HowLongToSleep" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day3_AmountOfTimesWokenUp" class="form-control" value="@Model.formSleepDiary.Day3_AmountOfTimesWokenUp" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TotalTimeAwakeInNight" class="form-control" value="@Model.formSleepDiary.Day3_TotalTimeAwakeInNight" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TimeWokenUpInMorning" class="form-control" value="@Model.formSleepDiary.Day3_TimeWokenUpInMorning" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TimeGottenOutOfBed" class="form-control" value="@Model.formSleepDiary.Day3_TimeGottenOutOfBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TotalTimeSpentInBed" class="form-control" value="@Model.formSleepDiary.Day3_TotalTimeSpentInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TotalTimeSleeping" class="form-control" value="@Model.formSleepDiary.Day3_TotalTimeSleeping" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day3_HowRestedDoYouFeel" class="form-control" value="@Model.formSleepDiary.Day3_HowRestedDoYouFeel" />
        </div>
                </div>

                    <div class="col-md-6">
        <h3>Day 4</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4" class="control-lable">Day 4 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day4" class="form-control" value="@Model.formSleepDiary.Day4" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TimeInBed" class="form-control" value="@Model.formSleepDiary.Day4_TimeInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day4_HowLongToSleep" class="form-control" value="@Model.formSleepDiary.Day4_HowLongToSleep" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day4_AmountOfTimesWokenUp" class="form-control" value="@Model.formSleepDiary.Day4_AmountOfTimesWokenUp" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TotalTimeAwakeInNight" class="form-control" value="@Model.formSleepDiary.Day4_TotalTimeAwakeInNight" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TimeWokenUpInMorning" class="form-control" value="@Model.formSleepDiary.Day4_TimeWokenUpInMorning" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TimeGottenOutOfBed" class="form-control" value="@Model.formSleepDiary.Day4_TimeGottenOutOfBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TotalTimeSpentInBed" class="form-control" value="@Model.formSleepDiary.Day4_TotalTimeSpentInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TotalTimeSleeping" class="form-control" value="@Model.formSleepDiary.Day4_TotalTimeSleeping" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day4_HowRestedDoYouFeel" class="form-control" value="@Model.formSleepDiary.Day4_HowRestedDoYouFeel" />
        </div>
                    </div>
                </div>
                <br />

                    <div class="row">
                        <div class="col-md-6">
        <h3>Day 5</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5" class="control-lable">Day 5 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day5" class="form-control" value="@Model.formSleepDiary.Day5" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TimeInBed" class="form-control" value="@Model.formSleepDiary.Day5_TimeInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day5_HowLongToSleep" class="form-control" value="@Model.formSleepDiary.Day5_HowLongToSleep" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day5_AmountOfTimesWokenUp" class="form-control" value="@Model.formSleepDiary.Day5_AmountOfTimesWokenUp" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TotalTimeAwakeInNight" class="form-control" value="@Model.formSleepDiary.Day5_TotalTimeAwakeInNight" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TimeWokenUpInMorning" class="form-control" value="@Model.formSleepDiary.Day5_TimeWokenUpInMorning" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TimeGottenOutOfBed" class="form-control" value="@Model.formSleepDiary.Day5_TimeGottenOutOfBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TotalTimeSpentInBed" class="form-control" value="@Model.formSleepDiary.Day5_TotalTimeSpentInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TotalTimeSleeping" class="form-control" value="@Model.formSleepDiary.Day5_TotalTimeSleeping" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day5_HowRestedDoYouFeel" class="form-control" value="@Model.formSleepDiary.Day5_HowRestedDoYouFeel" />
        </div>
                </div>

                                <div class="col-md-6">
        <h3>Day 6</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6" class="control-lable">Day 6 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day6" class="form-control" value="@Model.formSleepDiary.Day6" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TimeInBed" class="form-control" value="@Model.formSleepDiary.Day6_TimeInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day6_HowLongToSleep" class="form-control" value="@Model.formSleepDiary.Day6_HowLongToSleep" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day6_AmountOfTimesWokenUp" class="form-control" value="@Model.formSleepDiary.Day6_AmountOfTimesWokenUp" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TotalTimeAwakeInNight" class="form-control" value="@Model.formSleepDiary.Day6_TotalTimeAwakeInNight" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TimeWokenUpInMorning" class="form-control" value="@Model.formSleepDiary.Day6_TimeWokenUpInMorning" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TimeGottenOutOfBed" class="form-control" value="@Model.formSleepDiary.Day6_TimeGottenOutOfBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TotalTimeSpentInBed" class="form-control" value="@Model.formSleepDiary.Day6_TotalTimeSpentInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TotalTimeSleeping" class="form-control" value="@Model.formSleepDiary.Day6_TotalTimeSleeping" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day6_HowRestedDoYouFeel" class="form-control" value="@Model.formSleepDiary.Day6_HowRestedDoYouFeel" />
        </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-6">
        <h3>Day 7</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7" class="control-lable">Day 7 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day7" class="form-control" value="@Model.formSleepDiary.Day7" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TimeInBed" class="form-control" value="@Model.formSleepDiary.Day7_TimeInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day7_HowLongToSleep" class="form-control" value="@Model.formSleepDiary.Day7_HowLongToSleep" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day7_AmountOfTimesWokenUp" class="form-control" value="@Model.formSleepDiary.Day7_AmountOfTimesWokenUp" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TotalTimeAwakeInNight" class="form-control" value="@Model.formSleepDiary.Day7_TotalTimeAwakeInNight" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TimeWokenUpInMorning" class="form-control" value="@Model.formSleepDiary.Day7_TimeWokenUpInMorning" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TimeGottenOutOfBed" class="form-control" value="@Model.formSleepDiary.Day7_TimeGottenOutOfBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TotalTimeSpentInBed" class="form-control" value="@Model.formSleepDiary.Day7_TotalTimeSpentInBed" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TotalTimeSleeping" class="form-control" value="@Model.formSleepDiary.Day7_TotalTimeSleeping" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day7_HowRestedDoYouFeel" class="form-control" value="@Model.formSleepDiary.Day7_HowRestedDoYouFeel" />
        </div>
                </div>
                <div class="col-md-6"></div>
</div>

            <br />
            <div class="row">
                <div class="input-group col-mb-12 text-center">
                    <p>Please only submit this form when all fields are filled out.</p>
                </div>
            </div>
            <div class="row">

                <div class="input-group col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-3 text-center">
                        <input type="submit" asp-page-handler="SaveForm" value="Save Form" class="btn btn-dark" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3 text-center">
                        <input type="submit" asp-page-handler="SubmitForm" value="Submit Form" class="btn btn-danger" />
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

        </div> <!-- end of container div -->
    </form>

</div>