@page
@model CTTSite.Pages.Forms.CreateHotCrossBunPageModel
@{
}
<div class="container-fluid">


<div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            
    <form method="post">
                <h1 >Create Hot Cross Bun</h1>
        <div hidden="hidden">
        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.UserEmail" class="control-lable"></label>
            <input asp-for="@Model.formHotCrossBun.UserEmail" class="form-control" value="@HttpContext.User.Identity.Name" readonly />
        </div>

        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.Trigger " class="control-lable">Trigger</label>
            <input asp-for="@Model.formHotCrossBun.Trigger" class="form-control" value="Please Fill Out Before Submission" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.Thoughts" class="control-lable">Thoughts</label>
            <input asp-for="@Model.formHotCrossBun.Thoughts" class="form-control" value="Please Fill Out Before Submission" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.Emotions" class="control-lable">Emotions</label>
            <input asp-for="@Model.formHotCrossBun.Emotions" class="form-control" value="Please Fill Out Before Submission" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.Behaviours" class="control-lable">Behaviours</label>
            <input asp-for="@Model.formHotCrossBun.Behaviours" class="form-control" value="Please Fill Out Before Submission" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.Physical" class="control-lable">Physical</label>
            <input asp-for="@Model.formHotCrossBun.Physical" class="form-control" value="Please Fill Out Before Submission" readonly/>
        </div>
        </div>

        <div class="input-group mb-3">
            <h5 class="container-fluid">
                Use the Hot Cross Bun to explore the link between your thoughts, feelings and behaviours.<br /><br />
                This exercise can be helpful to understand triggers, explore emotions, identify thoughts to challenge or behaviours to change.<br /><br />
                You can use the Hot Cross Bun to collect data to bring back to your therapy sessions.<br /><br />
                You should try to complete the Hot Cross Bun as close to the situation or trigger as possible, so that the information is fresh in your mind.<br /><br />
            </h5>
            <div class=" container-fluid">
                <div class="row">
                    <div class="col-mb-6">
            <p>After creating the form, you will be able to find it on the "Forms" page under "My Forms"</p>
                    </div>
                    <div class="col-md-6">
            <input type="submit" asp-page-handler="SaveForm" value="Create new Form" class="btn btn-dark" />                               
            <a class="btn btn-outline-dark" type="button" href="/Forms/FormsMenuPage">Back</a>
           </div>
            </div>
            </div>
        </div>
    </form>
</div>
        <div class="col-md-1"></div>
    </div>
</div>
