@page
@model CTTSite.Pages.Forms.CreateHotCrossBunPageModel
@{
}
<h1>Hot Cross Bun</h1>

<div class="col-md-4">
    <form method="post">

        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.UserEmail" class="control-lable"></label>
            <input asp-for="@Model.formHotCrossBun.UserEmail" class="form-control" value="@HttpContext.User.Identity.Name" readonly />
        </div>

        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.Trigger " class="control-lable">Trigger</label>
            <input asp-for="@Model.formHotCrossBun.Trigger" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.Thoughts" class="control-lable">Thoughts</label>
            <input asp-for="@Model.formHotCrossBun.Thoughts" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.Emotions" class="control-lable">Emotions</label>
            <input asp-for="@Model.formHotCrossBun.Emotions" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.Behaviours" class="control-lable">Behaviours</label>
            <input asp-for="@Model.formHotCrossBun.Behaviours" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formHotCrossBun.Physical" class="control-lable">Physical</label>
            <input asp-for="@Model.formHotCrossBun.Physical" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="input-group mb-3">
            <p>Please only submit this form when all fields are filled out.</p>
            <input type="submit" asp-page-handler="SubmitForm" value="Submit Form" class="btn btn-primary" />
            <input type="submit" asp-page-handler="SaveForm" value="Save Form" class="btn btn-primary" />
        </div>
    </form>
</div>
