@page
@model CTTSite.Pages.Forms.CreateSleepDiaryPageModel
@{
}
<div class="container-fluid">


<div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            
    <form method="post">
                <h1>Create Sleep Diary</h1>
        <div hidden="hidden">
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.UserEmail" class="control-lable"></label>
            <input asp-for="@Model.formSleepDiary.UserEmail" class="form-control" value="@HttpContext.User.Identity.Name" readonly />
        </div>

        <h3>Day 1</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1" class="control-lable">Day 1 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day1" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TimeInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day1_HowLongToSleep" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day1_AmountOfTimesWokenUp" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TotalTimeAwakeInNight" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TimeWokenUpInMorning" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TimeGottenOutOfBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TotalTimeSpentInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day1_TotalTimeSleeping" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day1_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day1_HowRestedDoYouFeel" class="form-control" value="Please Fill Out Before Submission" />
        </div>

       
        
        <h3>Day 2</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2" class="control-lable">Day 2 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day2" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TimeInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day2_HowLongToSleep" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day2_AmountOfTimesWokenUp" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TotalTimeAwakeInNight" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TimeWokenUpInMorning" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TimeGottenOutOfBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TotalTimeSpentInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day2_TotalTimeSleeping" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day2_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day2_HowRestedDoYouFeel" class="form-control" value="Please Fill Out Before Submission" />
        </div>



        <h3>Day 3</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3" class="control-lable">Day 3 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day3" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TimeInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day3_HowLongToSleep" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day3_AmountOfTimesWokenUp" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TotalTimeAwakeInNight" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TimeWokenUpInMorning" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TimeGottenOutOfBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TotalTimeSpentInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day3_TotalTimeSleeping" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day3_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day3_HowRestedDoYouFeel" class="form-control" value="Please Fill Out Before Submission" />
        </div>



        <h3>Day 4</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4" class="control-lable">Day 4 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day4" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TimeInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day4_HowLongToSleep" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day4_AmountOfTimesWokenUp" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TotalTimeAwakeInNight" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TimeWokenUpInMorning" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TimeGottenOutOfBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TotalTimeSpentInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day4_TotalTimeSleeping" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day4_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day4_HowRestedDoYouFeel" class="form-control" value="Please Fill Out Before Submission" />
        </div>



        <h3>Day 5</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5" class="control-lable">Day 5 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day5" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TimeInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day5_HowLongToSleep" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day5_AmountOfTimesWokenUp" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TotalTimeAwakeInNight" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TimeWokenUpInMorning" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TimeGottenOutOfBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TotalTimeSpentInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day5_TotalTimeSleeping" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day5_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day5_HowRestedDoYouFeel" class="form-control" value="Please Fill Out Before Submission" />
        </div>



        <h3>Day 6</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6" class="control-lable">Day 6 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day6" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TimeInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day6_HowLongToSleep" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day6_AmountOfTimesWokenUp" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TotalTimeAwakeInNight" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TimeWokenUpInMorning" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TimeGottenOutOfBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TotalTimeSpentInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day6_TotalTimeSleeping" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day6_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day6_HowRestedDoYouFeel" class="form-control" value="Please Fill Out Before Submission" />
        </div>

       
        
        <h3>Day 7</h3>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7" class="control-lable">Day 7 (Weekday, dd/mm/yyyy)</label>
            <input asp-for="@Model.formSleepDiary.Day7" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TimeInBed" class="control-lable">What time did you go to bed?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TimeInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_HowLongToSleep" class="control-lable">How long did it take to sleep? </label>
            <input asp-for="@Model.formSleepDiary.Day7_HowLongToSleep" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_AmountOfTimesWokenUp" class="control-lable">How many times did you wake up?</label>
            <input asp-for="@Model.formSleepDiary.Day7_AmountOfTimesWokenUp" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TotalTimeAwakeInNight" class="control-lable">How long in total were you awake during the night?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TotalTimeAwakeInNight" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TimeWokenUpInMorning" class="control-lable">What time did you wake up in the morning?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TimeWokenUpInMorning" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TimeGottenOutOfBed" class="control-lable">What time did you get out of bed?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TimeGottenOutOfBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TotalTimeSpentInBed" class="control-lable">How long did you spend in bed in total?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TotalTimeSpentInBed" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_TotalTimeSleeping" class="control-lable">How long were you asleep for in total?</label>
            <input asp-for="@Model.formSleepDiary.Day7_TotalTimeSleeping" class="form-control" value="Please Fill Out Before Submission" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.formSleepDiary.Day7_HowRestedDoYouFeel" class="control-lable">How rested do you feel? (1 = very bad, 5 = very good)</label>
            <input asp-for="@Model.formSleepDiary.Day7_HowRestedDoYouFeel" class="form-control" value="Please Fill Out Before Submission" />
        </div>


        </div>

        <div class="input-group mb-3">
            <h5 class="container-fluid">
                This Sleep Diary can be used to monitor and improve your sleep.<br /><br />
                We use this as part of a structured treatment programme called CBT for Insomnia.<br /><br />
                Call us if you'd like support to improve your sleep.<br /><br />
            </h5>
            <div class=" container-fluid">
                <div class="row">
                    <div class="col-mb-6">
            <p>After creating the form, you will be able to find it on the "Forms" page under "My Forms"</p>
                    </div>
                    <div class="col-md-6">
            <input type="submit" asp-page-handler="SaveForm" value="Create new Form" class="btn btn-dark" />
                                <a class="btn btn-outline-dark" type="button" href="/Forms/FormsMenuPage">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
        <div class="col-md-1"></div>
    </div>
    
</div>
