@page
@model CTTSite.Pages.Consultation.BookConsultationPageModel
@{
}


<div class="container-fluid">
<div class="row">
<div class="col-md-1"></div>
    <div class="col-md-10">
        <form method="post">
            <div class="form-group" hidden>
                <label asp-for="@Model.Consultation.ID" class="control-lable"></label>
                <input asp-for="@Model.Consultation.ID" class="form-control" readonly="@(true)" />
            </div>
            <div class="form-group" hidden>
                <label asp-for="@Model.Consultation.UserID" class="control-lable"></label>
                <input asp-for="@Model.Consultation.UserID" class="form-control" readonly="@(true)" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Consultation.Date" class="control-lable"></label>
                <input asp-for="@Model.Consultation.Date" class="form-control" readonly="@(true)" />
                <span asp-validation-for="@Model.Consultation.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Consultation.StartTime" class="control-lable"></label>
                <input asp-for="@Model.Consultation.StartTime" class="form-control" readonly="@(true)" />
                <span asp-validation-for="@Model.Consultation.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Consultation.EndTime" class="control-lable"></label>
                <input asp-for="@Model.Consultation.EndTime" class="form-control" readonly="@(true)" />
                <span asp-validation-for="@Model.Consultation.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Consultation.BookedNamed" class="control-lable">Client's Name</label>
                <input asp-for="@Model.Consultation.BookedNamed" placeholder="Enter Name" class="form-control" />
                <span asp-validation-for="@Model.Consultation.BookedNamed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Consultation.TelefonNumber" class="control-lable">Client's telephone number</label>
                <input asp-for="@Model.Consultation.TelefonNumber" placeholder="Enter telephone number" class="form-control" />
                <span asp-validation-for="@Model.Consultation.TelefonNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Consultation.BookedEmail" class="control-lable">Client's email</label>
                <input asp-for="@Model.Consultation.BookedEmail" placeholder="Enter Email" class="form-control" />
                <span asp-validation-for="@Model.Consultation.BookedEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <br />
                <input type="submit" value="Book Consultation" class="btn btn-dark" />
                <a asp-page="/Consultation/AvailableConsultationsPage" class="btn btn-outline-dark">Back</a>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>
</div>
