@page
@model CTTSite.Pages.Consultation.BookConsultationPageModel
@{
}



<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Consultation.StartDateTime" class="control-lable"></label>
        <input asp-for="@Model.Consultation.StartDateTime" class="form-control" />
        <span asp-validation-for="@Model.Consultation.StartDateTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Consultation.EndDateTime" class="control-lable"></label>
        <input asp-for="@Model.Consultation.EndDateTime" class="form-control" />
        <span asp-validation-for="@Model.Consultation.EndDateTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Consultation.BookedNamed" class="control-lable"></label>
        <input asp-for="@Model.Consultation.BookedNamed" class="form-control" />
        <span asp-validation-for="@Model.Consultation.BookedNamed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Consultation.TelefonNummer" class="control-lable"></label>
        <input asp-for="@Model.Consultation.TelefonNummer" class="form-control" />
        <span asp-validation-for="@Model.Consultation.TelefonNummer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Consultation.BookedNamed" class="control-lable"></label>
        <input asp-for="@Model.Consultation.BookedNamed" class="form-control" />
        <span asp-validation-for="@Model.Consultation.BookedNamed" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>